@import url('bulma/css/bulma.css');
@import url('@fortawesome/fontawesome-free/css/all.css');

body {
    background-color:azure;
  }

  .container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    min-height: 100vh;
  }

  
  @media (min-width: 641px) {
    .navbar {
        margin-right: 2rem;
        transition: margin-right 0.5s ease-in-out;
    }
    .navbar.isShoppingCartOpen {
        margin-right: 20rem;
    }
    }
    .tag.is-small {
    position: absolute;
    transform: translate(50%, -30%);
    font-size: x-small;
    }
    .router-link-active {
        font-weight: bold;
        border-bottom: 2px solid;
    }